@import "tailwindcss";

html {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  color: white;
}

.header {
  background: inherit;
}

main {
  background: inherit;
}

main:hover {
  cursor: pointer;
}

.badge {
  display: flex;
  flex-direction: column;
  height: 17rem;
  min-width: 17rem;
  max-width: 17rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fafafa;
  font-size: 2.5rem;
  font-weight: 550;
  justify-content: center;
  text-align: center;

  transition:
    transform 0.2s ease-in-out,
    scale 0.2s ease-in-out;
  border: 2px #27272a solid;
  opacity: 65%;
}

.badge:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 100%;
  background: #151515;
}

.target {
  position: relative;

  & input[type="radio"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    visibility: hidden;
  }
}

.selected {
  border: 2px #fafafa outset;
  opacity: 100%;
  transform: scale(1.05);
  color: #ffff;
}

.targetS {
  border-radius: 0.5rem;
  background: inherit;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: 1px #636363 double;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-width: 15rem;
  min-height: 15rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 1px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@media (min-width: 768px) {
  .targetS {
    width: 17rem;
    height: 17rem;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
